/* Body Styles */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e6e1e8;
}

/* Title Styles */
#title {
    text-align: center;
    font-size: 450%;
    font-weight: bold;
    color: #48206b;
    transform: skewX(-10deg);
    margin: 0;
    padding: 20px;
}

/* More Info Styles */
.moreInfo {
    display: none;
    margin-top: auto;
    flex-grow: 1;
}

.animeImg:hover + .moreInfo {
    display: block;
}

/* Results Element Styles */
#resultsElement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Anime Styles */
#resultsElement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Anime Styles */
.anime {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Anime Image Styles */
.animeImg {
    max-width: 100%;
    height: auto;
}

/* Anime Titles Styles */
.animeTitles {
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}
/* Link Styles */
a {
    text-decoration: none;
    color: #48206b;
}

/* Search Element Styles */
#searchElement {
    background-color: #f2ceff;
    text-align: center;
    font-size: 30px;
    text-align: center;
    border-radius: 50px;
    width: 40%;
    transition: width 0.5s ease;
}

#searchElementDiv {
    display: flex;
    justify-content: center;
    height: 10vh;
}

#searchElement:hover,
#searchElement:focus {
    width: 45%;
}

@media (max-width: 767px) {
    /* Adjust for phone screens */
    .anime {
        width: calc(100% - 20px);
        margin: 10px auto;
    }
}
